<%= form_for([@client, @network], html: { role: 'form', class: 'form-horizontal' }) do |f| %>
  <div class='form-group'>
      <%= f.label :network_type, 'Network Type', class: 'col-sm-3 control-label' %>
    <div class='col-sm-9'>
      <%= f.select :network_type,
        [
          ['DHCP Scope'],
          ['Gateway'],
          ['Host'],
          ['Range'],
          ['Subnet'],
          ['VLAN']
        ],
        { id: 'network_type', class: "form-control" }  %>
    </div>
  </div>
  <div class='form-group'>
      <%= f.label :ip_subnet, 'Host/Subnet/Range', class: 'col-sm-3 control-label' %>
    <div class='col-sm-9'>
      <%= f.text_field :ip_subnet, id: 'ip_subnet', class: 'form-control', required: true %>
    </div>
  </div>
  <div class='form-group'>
      <%= f.label :description, 'Description', class: 'col-sm-3 control-label' %>
    <div class='col-sm-9'>
      <%= f.text_field :description, id: 'Description', class: 'form-control' %>
    </div>
  </div>
  <div class='modal-footer'>
    <button
      type='button'
      class='btn btn-danger'
      data-dismiss='modal'
    >
      <%= icon('fas', 'ban') %> Cancel
    </button>
    <%= button_tag(class: 'btn btn-primary') do %>
      <%= icon('fas', 'check') %> Save
    <% end %>
  </div>
<% end %>