<%= form_for(@client, html: { role: 'form', class: 'form-horizontal' }) do |f| %>
  <div class='form-group'>
      <%= f.label :name, 'Name', class: 'col-sm-3 control-label' %>
    <div class='col-sm-9'>
      <%= f.text_field :name, id: 'name', placeholder: "Sarah's Bakery", class: 'form-control', required: true %>
    </div>
  </div>
  <div class='modal-footer'>
    <button
      type='button'
      class='btn btn-danger'
      data-dismiss='modal'
    >
      <%= icon('fas', 'ban') %> Cancel
    </button>
    <%= button_tag(class: 'btn btn-primary') do %>
      <%= icon('fas', 'check') %> Save
    <% end %>
  </div>
<% end %>